<div class="flex items-center justify-center min-h-screen bg-gray-100 p-8">
  <div class="flex flex-col md:flex-row bg-white rounded-2xl shadow-2xl overflow-hidden w-full max-w-6xl h-[700px]">

    <!-- Lado de la imagen -->
    <div class="flex justify-center items-center bg-gray-200 md:w-1/2">
      <img src="assets/images/RH.webp" alt="Logo" class="w-full h-full"/>
    </div>

    <!-- Lado del formulario -->
    <div class="flex flex-col justify-center p-12 md:w-1/2">
      <h1 class="text-4xl font-bold mb-4 text-center">{{ tittle }}</h1>
      <h2 class="text-gray-600 text-lg text-center mb-8">{{ subtitle }}</h2>

      <form class="w-full">
        <div class="mb-6">
          <p-floatlabel>
            <input pInputText id="email" type="email" formControlName="email" class="w-full"/>
            <label for="email">Correo</label>
          </p-floatlabel>
        </div>
      </form>

      <button pButton (click)="dialogShow(visible)" label="Recuperar Contraseña" class="w-full p-3 text-lg mb-6"></button>
    </div>
  </div>
</div>

<div class="card flex justify-center">
  <p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
      <span class="p-text-secondary block mb-8">Update your information.</span>
      <div class="flex items-center gap-4 mb-4">
          <label for="username" class="font-semibold w-24">Username</label>
          <input pInputText id="username" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-8">
          <label for="email" class="font-semibold w-24">Email</label>
          <input pInputText id="email" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex justify-end gap-2">
          <p-button label="Cancel" severity="secondary" (click)="visible = false"/>
          <p-button label="Save" (click)="visible = false" routerLink="/login"/>
      </div>
  </p-dialog>
</div>
